body{
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}

#logo{
    background: #235E3d;
}

#menu ul li:hover{
    background: #235E3d;
}

.button-more{
    background: #235E3d;
}

.ui-state-active{
    background: #235E3d !important;
    border: 0px !important;
}